<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>App-Clima</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">
    <link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="wrapper">
        <div class="wrapper__header">Eror 404!</div>
        <div class="wrapper__description">
            El recurso al que estas intentando acceder no existe o no tienes los permisos para verlo.
    	</div>
    	<a href="panel" class="wrapper__button">Ir al panel</a>
    </div>
</body>
</html>