<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>App-Clima</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">
    <link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="wrapper">
        <div class="wrapper__header">Bienvenido a App-Estación!</div>
        <div class="wrapper__description">
            Es una aplicación web monitor de estaciones metereologicas construidas con ESP8266, las mismas cuentan sensores de humedad, temperatura y viento que envian los datos via wifi a un servidor.
    	</div>
    	<a href="panel" class="wrapper__button">Ir al panel</a>
    </div>
</body>
</html>